[Unit]
Description=Copy Caddy's relay.sikemux.com certificate every hour

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
